<h2 class="titulo-lista">Listado de Peliculas</h2>
<button (click)="botonMostrar()">mostrar peliculas</button>
<ul *ngIf="mostrarDatos === true">
  <li>Pelicula: {{pelicula.titulo}}</li>
  <li>Director: {{pelicula.director}}</li>
  <li>Anio: {{pelicula.anio}}</li>
</ul>

<div class="flexible">
  <div
  class='flexible-item'
  ><h2>1</h2></div>
  <div
  class='flexible-item'
  ><h2>2</h2></div>
</div>

<!-- <div class='padre'>
<div class='hijo'><p>A</p></div>
<div class='hijo'><p>B</p></div>
</div> -->



<div class="tablas">

  <div class="tablas-item"></div>
  <div class="tablas-item">- Un parrafo <br>
    - Una solucion

  </div>
  <div class="tablas-item">- Una etiqueta <br>
    - Un resultado
  </div>
  <div class="tablas-item"></div>
</div>


