
<button (click)="botonMostrar()">mostrar peliculas</button>
<ul *ngIf="mostrarDatos === true">
    <li>Titulo: <strong>{{pelicula.titulo}}</strong></li>
    <li>Director: <strong>{{pelicula.director}}</strong></li>
    <li>Año: {{pelicula.fecha}} </li>
</ul>

<p>
  Cambiar titulo:
<input type="text" [(ngModel)]="pelicula.titulo" />
</p>

<hr/>

<h2>Listado de peliculas:</h2>
<ul>
  <ul *ngFor="let pelicula of peliculas">
      <li
      (click)="cambiarPelicula(pelicula)"
      class="titulo-pelicula"
      [class.clicked]="peliculaElegida.titulo === pelicula.titulo"
      >Titulo: <strong>{{pelicula.titulo}}</strong></li>
      <li>Director: <strong>{{pelicula.director}}</strong></li>
      <li>Publicación: <strong>{{pelicula.fecha}}</strong></li>
      <li><a [routerLink]="['agregarpelicula', {titulo: pelicula.titulo}]">modifica esta pelicula</a></li>
  </ul>

</ul>
<footer></footer>
