<h2 class="titulo-lista">Listado de Peliculas</h2>
<button (click)="botonMostrar()">mostrar peliculas</button>
<ul *ngIf="mostrarDatos === true">
    <li>Titulo: <strong>{{pelicula.titulo}}</strong></li>
    <li>Director: <strong>{{pelicula.director}}</strong></li>
    <li>Año: {{pelicula.anio}} </li>
</ul>

<p>
  Cambiar titulo:
<input type="text" [(ngModel)]="pelicula.titulo" />
</p>

<hr/>
<h2>Listado de peliculas:</h2>
<ul>
  <ul *ngFor="let pelicula of peliculas">
      <li
      (click)="cambiarPelicula(pelicula)"
      class="titulo-pelicula"
      [class.clicked]="peliculaElegida.id === pelicula.id"
      >Titulo: <strong>{{pelicula.titulo}}</strong></li>
      <li>Director: <strong>{{pelicula.director}}</strong></li>
      <li>Anio: <strong>{{pelicula.anio}}</strong></li>
  </ul>
</ul>




