.titulo-lista {
  background-color:slateblue;
  color: white;
}

.titulo-pelicula {
  cursor: pointer;
}
.titulo-pelicula:hover {
  text-decoration: underline;
}
hr {
  color: pink;
}
.clicked {
  font-size: 30px;
  color: lightseagreen;
}
