<h3>Agrega una pelicula</h3>
<form #unaForma="ngForm" (ngSubmit)="unSubmit()">
	<p>Titulo: 
		<input 
		type="text" 
		#titulo="ngModel"
		name="titulo"
		[(ngModel)]="nuevaPelicula.titulo"
		required 
		>
		
	</p>
	<span *ngIf="!titulo.valid">No valido</span>
	<p>Director: 
		<input 
		type="text" 
		#director="ngModel"
		name="director"
		[(ngModel)]="nuevaPelicula.director"
		>
	</p>
	<p>Anio: 
		<input 
		type="text" 
		#anio="ngModel"
		name="anio"
		[(ngModel)]="nuevaPelicula.anio"
		>
	</p>
	<button
	type="submit"
	>agrega pelicula</button>
</form>


